<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place</title>
</head>
<body>
    <p>[{{ .Place.PlaceId }}
        {{ .Place.PlaceName }}
        {{ .Place.FilterId }}
        {{ .Place.PlaceAddress }}
        {{ .Place.WorkingTime }}
        {{ .Place.TelephoneNumber }}
        {{ .Place.Email }}
        {{ .Place.Site }}
        {{ .Place.PlaceServices }}
        {{ .Place.TotalSquare }}
        {{ .Place.WorkingSquare }}
        {{ .Place.CommonObjects }}
        {{ .Place.Equipment }}
        {{ .Place.RentersCount }}
        {{ .Place.Meta }}]
    </p>

</body>
</html>